# Concat和Merge作业

请输入你的个人信息，以变量的形式保存：

1. name: 姓名
2. id: 学号

用字符串操作和Print()，打印以下这句话：“我是??，我的学号是??。我承诺这次作业是独立完成。”

In [6]:
# 答题区

name = "lee"
id = 2024001

print(f"我是{name}，我的学号是{id}。我承诺这次作业是独立完成。")

我是lee，我的学号是2024001。我承诺这次作业是独立完成。



## 1.1 Concat和Merge作业

利用题目给出的虚拟，后续的题目。

答题要求：

1. 每道题目后面，请自行添加适当的Python单元格，只要满足你的编程需求
2. 但是，最后一个单元格，必须打印指定的答案，或者回答问题

In [7]:
import pandas as pd

# 生成虚拟数据

# 学生成绩数据
df1 = pd.DataFrame(
    {
        "StudentID": [1, 2, 3, 4, 5],
        "Name": ["Alice", "Bob", "Charlie", "David", "Eva"],
        "Math": [85, 55, 78, 88, 40],  # 修改数据，确保有不及格的学生
    }
)

# 学生更多成绩数据
df2 = pd.DataFrame(
    {
        "StudentID": [3, 4, 5, 6, 7],
        "Name": ["Charlie", "David", "Eva", "Frank", "Grace"],
        "Science": [91, 85, 79, 83, 87],
    }
)

# 学生班级数据
df3 = pd.DataFrame(
    {"StudentID": [1, 2, 3, 4, 5, 6, 7], "Class": ["A", "B", "A", "B", "A", "B", "A"]}
)

In [8]:
df = pd.merge(df1, df2, on="StudentID", how="outer").merge(
    df3, on="StudentID", how="outer"
)
df = df.drop("Name_y", axis=1).rename(columns={"Name_x": "Name"})
df

   StudentID     Name  Math  Science Class
0          1    Alice  85.0      NaN     A
1          2      Bob  55.0      NaN     B
2          3  Charlie  78.0     91.0     A
3          4    David  88.0     85.0     B
4          5      Eva  40.0     79.0     A
5          6      NaN   NaN     83.0     B
6          7      NaN   NaN     87.0     A

### 题目1

找出所有同时参加了数学和科学考试的学生，并列出他们的姓名、数学成绩和科学成绩（3列），并打印结果。

In [9]:
# 答题区，Python单元格的数量由你自己决定，下同。

### 题目2

列出**所有学生**的姓名、班级、数学成绩和科学成绩（4列），缺失的成绩用 NaN 表示。

In [10]:
# 答题区

### 题目3

列出所有数学成绩不及格（<60）的学生姓名及其班级，添加一列布尔值'Participated_Science'，并标明他们是否参加了科学考试（3列）。

In [11]:
# 答题区

### 题目4

计算每个班级的平均数学成绩和科学成绩，并列出每个班级及其对应的平均成绩。

In [12]:
# 答题区