In [2]:
import pandas as pd
import json

df = pd.DataFrame(json.load(open('data_backup/cet4.json', 'r'))).sort_values('word')
df

,id,word,translate,createdTime,modifyTime
3092,3093,Africa,n.非洲,2020-05-13T23:05:04.733,2020-05-13T23:05:04.733
3091,3092,African,a.非洲的 n.非洲人,2020-05-13T23:05:04.733,2020-05-13T23:05:04.733
2955,2956,America,n.美洲；美国,2020-05-13T23:05:04.733,2020-05-13T23:05:04.733
2954,2955,American,a.美洲的 n.美国人,2020-05-13T23:05:04.733,2020-05-13T23:05:04.733
2884,2885,Among,prep.在…之中,2020-05-13T23:05:04.733,2020-05-13T23:05:04.733
...,...,...,...,...,...
1497,1498,zealous,a.热心的，热情的,2020-05-13T23:05:04.787,2020-05-13T23:05:04.787
1496,1497,zebra,n.斑马,2020-05-13T23:05:04.787,2020-05-13T23:05:04.787
1495,1496,zero,n.零；零点，零度,2020-05-13T23:05:04.787,2020-05-13T23:05:04.787
2251,2252,zone,n.地区，区域，范围,2020-05-13T23:05:04.787,2020-05-13T23:05:04.787
4504,4505,zoo,n.动物园,2020-05-13T23:05:04.787,2020-05-13T23:05:04.787

In [3]:
mask1 = df['word'].str.len() > 2

In [4]:
mask2 = df['word'].str.strip().str.contains(' ')

In [5]:
mask3 = df['word'].str.contains('\\.')

In [6]:
cet4_df = df[mask1 & ~mask2 & ~mask3].drop(['id','createdTime','modifyTime'],axis=1)
cet4_df.rename(columns={'translate':'definition'},inplace=True)
cet4_df

          word   definition
3092    Africa         n.非洲
3091   African  a.非洲的 n.非洲人
2955   America      n.美洲；美国
2954  American  a.美洲的 n.美国人
2884     Among    prep.在…之中
...        ...          ...
1497   zealous    a.热心的，热情的
1496     zebra         n.斑马
1495      zero    n.零；零点，零度
2251      zone   n.地区，区域，范围
4504       zoo        n.动物园

[4473 rows x 2 columns]

In [7]:
cet4_df.to_csv('data/cet4.csv',index=False)
#cet4_df.to_json('data/cet4.json',index=False)
cet4_df.to_excel('data/cet4.xlsx',index=False)

In [8]:
# 转为 JSON 字符串
json_str = json.dumps(cet4_df.to_dict(orient='records'), ensure_ascii=False, indent=2)

# 保存为文件
with open("data/cet4.json", "w", encoding="utf-8") as f:
    f.write(json_str)

In [9]:
cet4_basic_words = [
    "agree",
    "allow",
    "appear",
    "believe",
    "borrow",
    "choose",
    "compare",
    "continue",
    "decide",
    "describe",
    "different",
    "enough",
    "example",
    "forget",
    "important",
    "include",
    "prefer",
    "probably",
    "remember",
    "through"
]

In [10]:
cet4_sample_df = cet4_df[cet4_df['word'].isin(cet4_basic_words)]
cet4_sample_df

          word      definition
3061     agree     vi.同意；持相同意见
3039     allow      vt.允许，准许；任
2823    appear     vi.出现；来到；似乎
3344   believe        vt.相信；认为
3145    borrow      vt.借，借用，借人
2528    choose     vt.选择，挑选；情愿
2266   compare     vt.比较，对照；比作
2532  continue     vt.继续，连续；延伸
2570    decide     vt.决定，决心；解决
253     prefer        vt.宁可，宁愿
227   probably        ad.或许，大概
533   remember     vt.记得，想起；记住
1380   through  prep.穿过ad.从头到尾

In [11]:
# 转为 JSON 字符串
json_str = json.dumps(cet4_sample_df.to_dict(orient='records'), ensure_ascii=False, indent=2)

# 保存为文件
with open("data/cet4_sample.json", "w", encoding="utf-8") as f:
    f.write(json_str)