In [15]:
import pandas as pd
import json

df = pd.DataFrame(json.load(open('data_backup/cet4.json', 'r'))).sort_values('word')
df

,id,word,translate,createdTime,modifyTime
3092,3093,Africa,n.非洲,2020-05-13T23:05:04.733,2020-05-13T23:05:04.733
3091,3092,African,a.非洲的 n.非洲人,2020-05-13T23:05:04.733,2020-05-13T23:05:04.733
2955,2956,America,n.美洲；美国,2020-05-13T23:05:04.733,2020-05-13T23:05:04.733
2954,2955,American,a.美洲的 n.美国人,2020-05-13T23:05:04.733,2020-05-13T23:05:04.733
2884,2885,Among,prep.在…之中,2020-05-13T23:05:04.733,2020-05-13T23:05:04.733
...,...,...,...,...,...
1497,1498,zealous,a.热心的，热情的,2020-05-13T23:05:04.787,2020-05-13T23:05:04.787
1496,1497,zebra,n.斑马,2020-05-13T23:05:04.787,2020-05-13T23:05:04.787
1495,1496,zero,n.零；零点，零度,2020-05-13T23:05:04.787,2020-05-13T23:05:04.787
2251,2252,zone,n.地区，区域，范围,2020-05-13T23:05:04.787,2020-05-13T23:05:04.787
4504,4505,zoo,n.动物园,2020-05-13T23:05:04.787,2020-05-13T23:05:04.787

In [16]:
mask1 = df['word'].str.len() > 2

In [17]:
mask2 = df['word'].str.strip().str.contains(' ')

In [18]:
mask3 = df['word'].str.contains('\\.')

In [19]:
cet4_df = df[mask1 & ~mask2 & ~mask3].drop(['id','createdTime','modifyTime'],axis=1)
cet4_df.rename(columns={'translate':'definition'},inplace=True)
cet4_df

          word   definition
3092    Africa         n.非洲
3091   African  a.非洲的 n.非洲人
2955   America      n.美洲；美国
2954  American  a.美洲的 n.美国人
2884     Among    prep.在…之中
...        ...          ...
1497   zealous    a.热心的，热情的
1496     zebra         n.斑马
1495      zero    n.零；零点，零度
2251      zone   n.地区，区域，范围
4504       zoo        n.动物园

[4473 rows x 2 columns]

In [20]:
cet4_df.to_csv('data/cet4.csv',index=False)
#cet4_df.to_json('data/cet4.json',index=False)
cet4_df.to_excel('data/cet4.xlsx',index=False)

In [21]:
# 转为 JSON 字符串
json_str = json.dumps(cet4_df.to_dict(orient='records'), ensure_ascii=False, indent=2)

# 保存为文件
with open("data/cet4.json", "w", encoding="utf-8") as f:
    f.write(json_str)